@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullet points and numbers) */
ul,
ol {
  list-style: none;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default button styles */
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* Remove default input styles */
input,
textarea,
select {
  background-color: transparent;
  border: 0;
  outline: 0;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
